*{
    font-family:Arial, Helvetica, sans-serif;
    color: white;
}

body{
    background-color: #1F1F1F;
}

#logo{
    width: 200px;
}

#navbarNavAltMarkup{
    font-size: 20px;
    font-weight: bold;
}

::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555; 
}

.bg-black70{
    background-color: #1F1F1F;
}

.bg-black45{
    background-color: #353535;
}

.txt-color{
    color: #FF7F04;
}

.bg-txt-color{
    background-color: #FF7F04;
}

.img-fluid{
    margin-top: 30px;
}

h1, h2, h3, h4, h5, h6{
    letter-spacing: 5px;
}

a{
    letter-spacing: 2px;
}

p{
    letter-spacing: 1px;
}
